.inputBox {
  padding: 1.6rem;

  .inputName {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .inputContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: fit-content;
    font-size: 1.2rem;
    border: 0.2rem solid #c4c4c4;
    border-radius: 0.5rem;

    .inputCheckBox {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: pointer;

      .label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0.8rem;
        cursor: pointer;
      }

      .checkBox {
        display: none;
      }

      .checkBoxIcon {
        margin-right: 0.8rem;
        font-size: 2.4rem;
      }
    }
  }
}
