.inputBox {
  padding: 1.6rem;

  .inputName {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }

  .inputContent {
    font-size: 1.2rem;
    border: 2px solid #c4c4c4;
    border-radius: 5px;

    .input {
      height: fit-content;
      position: relative;

      &_checkBox {
        width: 100%;
        flex-direction: row;
        position: relative;
        height: 4rem;
        line-height: 4rem;
        cursor: pointer;

        .label {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: 0.8rem;
          cursor: pointer;
        }

        .checkBox {
          display: none;
        }

        .checkBoxIcon {
          font-size: 3.2rem;
          position: absolute;
          right: 0.8rem;
          top: calc(50% - 1.6rem);
        }
      }
    }
  }
}
