.inputBox {
  padding: 0.8rem 1.6rem;

  .inputName > h3 {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .inputContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: fit-content;
    font-size: 1.2rem;
    border: 0.2rem solid #c4c4c4;
    border-radius: 0.5rem;

    .inputCheckBox {
      position: relative;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: pointer;

      .label {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0.4rem;
        padding: 0.8rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }

      .checkBox {
        display: none;
      }

      .checkBoxIcon {
        position: absolute;
        top: calc(50% - 1.2rem);
        right: 0.8rem;
        width: fit-content;
        height: fit-content;
        font-size: 2.4rem;
        background: none;
      }
    }
  }
}
