@use '@/styles/color.scss';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include flexCenter();
  flex-direction: column;
  padding: 2rem 2rem 5rem 2rem;
}

.inputContainer {
  width: 100%;
  margin-top: 7rem;

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

.flex_center {
  @include flexCenter();
}

@mixin input-btn-size($bgc: color.$primary) {
  width: 80vw;
  height: 5rem;
  padding: 1rem;
  background-color: $bgc;
  border: 0.1rem solid #eaebec;
  border-radius: 0.5rem;
}

.modalMainTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.modalSubTitle {
  color: #7b7474;
  font-size: 1.2rem;
}

.logo_box {
  height: fit-content;
  margin-top: 3rem;

  .logo_img {
    display: block;
    width: 30rem;
    height: 15rem;
    max-height: 100%;
    object-fit: contain;
  }
}

.form {
  &__label {
    display: block;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
  }
  &form__label {
    margin-bottom: 2rem;
  }
  &__login {
    @include input-btn-size();
    color: #ffffff;
  }
  &__input {
    @include input-btn-size($bgc: white);
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}

.signup {
  @include input-btn-size($bgc: white);
  margin-top: 2rem;
}
