@use '@/styles/color.scss';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include flexCenter();
  flex-direction: column;
  height: calc(100vh - 0.8rem);
  padding: 2rem 2rem 5rem 2rem;
  width: 100vw;
}

.flex_center {
  @include flexCenter();
}

@mixin input-btn-size($bgc: color.$primary) {
    border: 0.1rem solid #EAEBEC;
    border-radius: 0.5rem;
    background-color: $bgc;
    width: 80vw;
    height: 5rem;
    padding: 1rem;
}

.modalMainTitle {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.modalSubTitle {
  color: #7b7474;
  font-size: 1.2rem;
}

.logo_img {
  display: block;
  margin-bottom: 10rem;
  width: 80vw;
  height: 20vh;
}

.form {
  &__label {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  &form__label {
    margin-bottom: 2rem;
  }
  &__login {
    @include input-btn-size();
    color: #ffffff
  }
  &__input {
    @include input-btn-size($bgc: white);
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}

.signup {
  @include input-btn-size($bgc: white);
  margin-top: 2rem;
}



