.inputLocationBox {
  > h3 {
    padding: 1.6rem;
    padding-bottom: 0;
    font-size: 1.6rem;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > div:last-child {
      grid-column: 1/3;
    }
  }
}

.inputAgeGroupBox {
  height: fit-content;
  margin: 0.8rem 1.6rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;

  > h3 {
    margin: 0.8rem 0;
    padding-bottom: 0;
    font-size: 1.6rem;
  }

  > div {
    border: 0.2rem solid #c4c4c4;
    border-radius: 0.5rem;
    select {
      width: 100%;
      height: 100%;
      min-height: 4rem;
      padding: 0.8rem;
      border: none;
      outline: none;
    }
  }
}

.inputDateBox {
  > h3 {
    padding: 1.6rem;
    padding-bottom: 0;
    font-size: 1.6rem;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > div {
      padding: 1.6rem;
      &:first-child {
        grid-column: 1/3;
        padding-bottom: 0;
      }

      input {
        font-size: 1.2rem;
      }

      fieldset {
        border: 0.2rem solid #c4c4c4;
      }
    }
  }
}
