.card__teamInfos {
  display: flex;
}

.card__leaderInfo {
  display: flex;
}

.card__detailInfos {
  display: flex;
}

.card__tags {
}

.card__gameInfos__gameSchedule {
}

.card__gameInfos__gameSchedule__upper {
  display: flex;
}
