.inputBox {
  padding: 1.6rem;

  .inputName {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .inputContent {
    position: relative;
    height: fit-content;
    font-size: 1.2rem;
    border: 0.2rem solid #c4c4c4;
    border-radius: 0.5rem;

    .inputText {
      width: 100%;
      padding: 0.8rem;

      &Content {
        width: 100%;
        min-height: 4rem;
        overflow: auto;
        border: none;
        outline: none;
        &:empty::before {
          color: #c4c4c4;
          cursor: text;
          content: attr(placeholder);
        }
      }
    }
  }
}
