.matchDetailContainer {
  margin-bottom: 8.4rem;
  padding: 1.6rem;
  .matchDetailMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    .menuName {
      font-weight: 700;
      font-size: 1.6rem;
      text-indent: 1.6rem;
    }
    .buttonBox {
      button {
        box-sizing: border-box;
        width: 7.2rem;
        height: 3.6rem;
        padding: 0;
        background: none;
        border: 0.2rem solid #c4c4c4;
        border-radius: 0.5rem;
      }
      .editButton {
        margin-right: 0.8rem;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 0.8rem;
          i {
            color: #c4c4c4;
          }
        }
      }
      .removeButton {
        padding: 0.8rem;
        i {
          color: red;
        }
      }
    }
  }

  .matchDetailContent {
    min-height: 40rem;
    padding: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    border: 0.2rem solid #c4c4c4;
    border-radius: 0.5rem;
  }
}

.modalMainTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  word-break: keep-all;
}
