.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.whiteSpace {
  display: block;
}
