@use '@/styles/color';

.entireContainer {
  margin: 5rem 1.6rem;
  font-size: 1.4rem;
}

.teamBaseInfo {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  min-height: 14rem;
  margin: 3rem 0;
  padding: 0.4rem;
  border: 0.1rem solid #f7f7f7;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .teamLogoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;

    .teamLogoImage {
      width: fit-content;
      max-width: 100%;
      height: fit-content;
      max-height: 100%;
      object-fit: contain;
      border-radius: 1rem;
    }
  }

  .teamInfoContainer {
    width: 50%;
    height: fit-content;
    text-indent: 0.8rem;

    padding : {
      top: 1.6rem;
    }

    .teamNameSpan {
      font-weight: 700;
      font-size: 2.4rem;
      letter-spacing: 0.2rem;
    }

    .bioSpace {
      min-width: 16.9rem;
      min-height: 4.3rem;
      padding-top: 1rem;
    }

    .tagsContainer {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.categoryTitle {
  font-weight: 700;
  font-size: 2.4rem;
}

.teamCoreInfo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 39rem;
  margin : {
    top: 1rem;
    bottom: 3rem;
  }
  padding-top: 2rem;
  border: 0.1rem solid #f7f7f7;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teamCoreElementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .teamCoreElementTitle {
    font-weight: 700;
    font-size: 2.4rem;
  }

  .teamCoreSportType {
    padding-top: 2rem;
    font-weight: 700;
    font-size: 4.8rem;
  }

  .teamCoreElementContent {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 2.4rem;
  }

  .mannerLow {
    color: #8f8f8f;
    font-weight: 700;
    font-size: 2.4rem;
  }

  .mannerMiddle {
    color: color.$primary;
    font-weight: 700;
    font-size: 2.4rem;
  }

  .mannerHigh {
    color: #d89e5a;
    font-weight: 700;
    font-size: 2.4rem;
  }

  .countLow {
    color: #d89e5a;
  }

  .countMiddle {
    color: #4d70c8;
  }

  .countHigh {
    color: color.$error;
  }
}

.teamMemberInfo {
  .teamMemberTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .seeMore {
    right: 3rem;
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
  }
}

.teamDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 3rem 0;
  padding: 1.8rem 1.6rem;
  border: 0.12rem solid color.$disable;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teamMatchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 3rem 0;
  padding: 1.8rem 1.6rem;
  border: 0.12rem solid color.$disable;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalMainTitle {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.modalSubTitle {
  margin-top: 1.6rem;
  color: #7b7474;
  font-size: 1.2rem;
}

.historyButtonContainer {
  margin-top: 0.5rem;
}

.historyButton {
  padding-right: 0.6rem;
  color: black;
  font-weight: 700;
  background: white;
  border: 0.1rem solid color.$disable;
  border-radius: 1rem;
  cursor: pointer;
}
