.teamBaseInfo {
  .logImage {
  }
}

.teamCoreInfo {
}

.teamPlayersInfo {
}

.teamMathchesInfo {
}

.modalMainTitle {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.modalSubTitle {
  margin-top: 2rem;
  color: #7b7474;
  font-size: 1.2rem;
}
