.matchPageContainer {
  min-width: fit-content;
  padding-top: 1.2rem;

  .awayTeam {
    margin-bottom: 8.4rem;
    .versus {
      color: red;
      font-weight: 700;
      font-size: 2.4rem;
      letter-spacing: 0.8rem;
      text-align: center;
    }
  }
}
