@use '@/styles/color';

.highlight {
  color: color.$primary;
  font-weight: 700;
}

.titleContainer {
  margin: {
    top: 7.2rem;
    bottom: 3rem;
    left: 1.8rem;
  }

  .mainTitle {
    font-weight: 700;
    font-size: 2.4rem;
    .highlight {
      color: color.$primary;
      font-weight: 700;
    }
  }
}

.cardsContainer {
  margin : {
    right: 1.6rem;
    left: 1.6rem;
  }
}

.addTeamButton {
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  width: 4.8rem;
  height: 4.8rem;
  padding: 0;
  color: #fff;
  font-size: 2.4rem;
  line-height: 4.8rem;
  text-align: center;
  background: #56ad79;
  border-radius: 2.4rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 11rem;
  margin-right: 1.6rem;
  margin-right: 1.6rem;
  border: 0.2rem solid #c4c4c4;
  border-radius: 1rem;

  .cardLogo {
    width: 20%;
    height: 80%;
    object-fit: cover;
    border: 0.2rem solid #c4c4c4;
    border-radius: 1rem;
  }

  .teamSubInfoContainer {
    width: 75%;
    height: 80%;
    padding-top: 1.2rem;
    font-size: 1.2rem;
    border: 0.2rem solid #c4c4c4;
    border-radius: 1rem;
  }

  .teamBaseInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    font-weight: 700;

    .teamNameSpan {
      margin-bottom: 0.5rem;
    }
  }

  .ContainerAboutTeamManner {
    display: flex;
    padding-left: 2rem;
  }
}

.mannerLow {
  color: #8f8f8f;
  font-weight: 700;
  font-size: 2.4rem;
}

.mannerMiddle {
  color: color.$primary;
  font-weight: 700;
  font-size: 2.4rem;
}

.mannerHigh {
  color: #d89e5a;
  font-weight: 700;
  font-size: 2.4rem;
}
