@use '@/styles/color';

.entireContainer {
  margin-bottom: 6rem;
  font-size: 1.4rem;

  .highlight {
    color: color.$primary;
    font-weight: 700;
  }

  .titleContainer {
    margin: {
      top: 7.2rem;
      bottom: 3rem;
      left: 1.8rem;
    }

    .mainTitle {
      font-weight: 700;
      font-size: 2.4rem;

      .highlight {
        color: color.$primary;
        font-weight: 700;
      }
    }
  }

  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 12rem;
    margin: 0.8rem 1.6rem;
    border: 0.2rem solid #c4c4c4;
    border-radius: 1rem;

    .cardLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 12rem;
      text-align: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        max-width: 100%;
        height: 100%;
        padding: 0.8rem;

        .teamLogoImage {
          width: fit-content;
          max-width: 100%;
          height: 100%;
          max-height: 100%;
          object-fit: contain;
          border-radius: 1rem;
        }
      }
    }

    .teamSubInfoContainer {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 2fr 1fr;
      padding: 0.8rem 0;
      font-size: 1.2rem;
      border-radius: 1rem;

      .teamBaseInfo {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        justify-content: center;
        padding: 0 0.8rem;

        .teamNameSpan {
          font-weight: 700;
          font-size: 1.8rem;
        }
      }

      .ContainerAboutTeamManner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.4rem;

        .mannerLow {
          color: #8f8f8f;
          font-weight: 700;
          font-size: 2rem;
        }

        .mannerMiddle {
          color: color.$primary;
          font-weight: 700;
          font-size: 2rem;
        }

        .mannerHigh {
          color: #d89e5a;
          font-weight: 700;
          font-size: 2rem;
        }
      }

      .tagContainer {
        display: flex;
        flex-wrap: wrap;
        grid-row: 2/3;
        grid-column: 1/3;
        align-items: center;
        height: fit-content;
        padding: 0.4rem;
      }
    }
  }

  .hasNoTeamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 10rem;

    .mainTitle {
      font-weight: 700;
      font-size: 2.4rem;
    }

    .subTitle {
      font-size: 1.6rem;
    }

    .noTeamAddButton {
      width: 25rem;
      height: 6.4rem;
      margin-top: 2rem;
      color: color.$primary;
      font-size: 3rem;
      background-color: white;
      border: 0.2rem solid color.$primary;
      border-radius: 1rem;
    }
  }

  .addTeamButton {
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    width: 4.8rem;
    height: 4.8rem;
    padding: 0;
    color: #fff;
    font-size: 2.4rem;
    line-height: 4.8rem;
    text-align: center;
    background: #56ad79;
    border-radius: 2.4rem;

    :disabled {
      background: #8f8f8f;
    }
  }
}
