@use '@/styles/color';

.kindTag {
  flex-wrap: nowrap;
  width: fit-content;
  max-width: 10rem;
  height: fit-content;
  margin: 0.2rem 0.4rem;
  padding: 0.4rem 0.8rem;
  overflow: hidden;
  color: white;
  font-size: 0.5rem;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  background-color: color.$primary;
  border-radius: 1rem;
}

.badTag {
  background-color: color.$error;
}

.excellentTag {
  background-color: color.$subPrimary;
}
