.card__teamInfos {
  display: flex;
}

.card__leaderInfo {
  display: flex;
}

.card__detailInfos {
  display: flex;
}

.card__tags {
}

.card__gameInfos__gameSchedule {
}

.card__gameInfos__gameSchedule__upper {
  display: flex;
}

.modalMainTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  word-break: keep-all;
}
