@use '@/styles/color.scss';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-btn-size($bgc: color.$primary) {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: $bgc;
  border: 0.1rem solid #eaebec;
  border-radius: 0.5rem;
}

.modalMainTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.modalSubTitle {
  color: #7b7474;
  font-size: 1.2rem;
}

.form_container {
  display: block;
  width: 100%;
  margin: 0 1.6rem;
  padding: 0 1.6rem;

  .form {
    &__label {
      display: block;
      margin: 1.6rem 0;
      font-weight: 700;
      font-size: 1.8rem;
      &:first-child {
        margin-top: 0;
      }
    }
    &__input {
      @include input-btn-size($bgc: white);
      font-size: 2rem;
    }
  }
}

.edit_info__btn {
  @include input-btn-size();
  margin-top: 4rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

.container {
  @include flexCenter();
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  margin-bottom: 8.4rem;
}

.title {
  margin: 1.6rem;
  font-weight: 700;
  font-size: 3rem;
}

.inValid_form {
  border-color: red;
}

.valid-form {
  border-color: color.$primary;
}

.valid_msg {
  display: block;
  margin-top: 0.4rem;
  color: #7b7474;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.duplicate_check__btn {
  width: 40%;
  margin-left: 1rem;
  color: #ffffff;
  background-color: color.$primary;
  border-radius: 5px;
}

.flex_container {
  display: flex;
  .form__input {
    padding: 0.4rem;
    border: 0.1rem solid #c4c4c4;
    border-radius: 0.5rem;
    outline: none;
  }
}

.user_bio {
  .form__input {
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    padding: 0.4rem;
    border: 0.1rem solid #c4c4c4;
    border-radius: 0.5rem;
    outline: none;
  }
}
