.postCard {
  min-width: fit-content;
  margin: 0.8rem 0;
  padding: 0.4rem;
  border: 0.2rem solid #56ad79;
  border-radius: 0.5rem;

  .postBox {
    display: grid;
    grid-template-columns: 1fr 3fr;

    > section {
      height: 12rem;
      padding: 0.4rem;
    }

    .postTeamLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: fit-content;
        max-width: 100%;
        height: fit-content;
        max-height: 100%;
        object-fit: cover;
      }
    }

    .postInfos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      > div {
        width: 100%;
        margin: 0.4rem 0;
        overflow: hidden;
        font-size: 1.6rem;
      }
    }

    .postTags {
      display: flex;
      align-items: center;

      > span {
        margin: 0 0.4rem;
        padding: 0.4rem 1.2rem;
        font-size: 1.2rem;
        text-align: center;
        border: 0.1rem solid #56ad79;
        border-radius: 1.5rem;
      }
    }
  }
}
