@use '@/styles/color.scss';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-btn-size($bgc: color.$primary) {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: $bgc;
  border: 0.1rem solid #eaebec;
  border-radius: 0.5rem;
}

.modalMainTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.modalSubTitle {
  color: #7b7474;
  font-size: 1.2rem;
}

.form {
  &__label {
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
  }
  &__input {
    @include input-btn-size($bgc: white);
    font-size: 2rem;
  }
}

.edit_info__btn {
  @include input-btn-size();
  margin-top: 4rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

.container {
  margin-top: 5.5rem;
  margin-bottom: 10rem;
  padding: 0 1.6rem;
}

.flex_container {
  @include flexCenter();
  flex-direction: column;

  form {
    width: 100%;
  }
}

.title {
  margin-bottom: 5rem;
  font-weight: 700;
  font-size: 3rem;
}

.inValid_form {
  border-color: red;
}

.valid_form {
  border-color: color.$primary;
}

.valid-form {
  border-color: color.$primary;
}

.valid_msg {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.duplicate_check__btn {
  width: 40%;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 1.4rem;
  background-color: color.$primary;
  border-radius: 5px;
}

.flex {
  display: flex;
}
