@use '@/styles/color.scss';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin basicInputIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  color: gray;
  background-color: #fafbfc;
  border-right: 1px solid #ddd;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 15%);
  cursor: default;
  pointer-events: none;
}

@mixin basicButton {
  width: 25%;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  border-left: 1px solid #ddd;
  border-radius: 0 10px 10px 0;
}

@mixin baseInputContainer {
  display: flex;
  flex-direction: row;
  height: 5.5rem;
  border-radius: 10px;
  box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 15%);

  select {
    width: 98%;
    background-color: transparent;
  }
}

@mixin input-btn-size($bgc: #0091fa) {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: $bgc;
  border: 0.1rem solid #eaebec;
  border-radius: 0.5rem;
}

.modalMainTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.modalSubTitle {
  color: #7b7474;
  font-size: 1.2rem;
}

.form {
  &__label {
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
  }
  &__input {
    @include input-btn-size($bgc: white);
    font-size: 2rem;
  }
}

.edit_info__btn {
  @include input-btn-size();
  height: 5.5rem;
  margin-top: 4rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  border: 1px solid #0165c1;
  border-radius: 1rem;
  box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 15%);
}

.container {
  margin-bottom: 10rem;
  padding: 0 1.6rem;
}

.flex_container {
  @include flexCenter();
  flex-direction: column;

  form {
    width: 100%;
  }
}

.inputContainer {
  @include baseInputContainer();
  border: 1px solid #ddd;

  svg {
    font-size: 30px;
  }

  .inputIcon {
    @include basicInputIcon();
    color: gray;
    background-color: #fafbfc;
  }

  .successInputIcon {
    @include basicInputIcon();
    color: #1ccf44;
    background-color: #f3fff7;
  }

  .failInputIcon {
    @include basicInputIcon();
    color: #f64646;
    background-color: #fff8f8;
    border-right: 1px solid #f64646;
  }
}

.failInputContainer {
  @include baseInputContainer();
  border: 1px solid #f64646;

  svg {
    font-size: 30px;
  }

  select {
    width: 50px;
  }

  .inputIcon {
    @include basicInputIcon();
    color: gray;
    background-color: #fafbfc;
  }

  .successInputIcon {
    @include basicInputIcon();
    color: #1ccf44;
    background-color: #f3fff7;
  }

  .failInputIcon {
    @include basicInputIcon();
    color: #f64646;
    background-color: #fff8f8;
    border-right: 1px solid #f64646;
  }
}

.title {
  margin-bottom: 5rem;
  font-weight: 700;
  font-size: 3rem;
}

.inValid_form {
  padding-left: 1.5rem;
  border: none;
  border-radius: 0 10px 10px 0;
}

.valid_form {
  padding-left: 1.5rem;
  border: none;
  border-radius: 0 10px 10px 0;
}

.valid_msg {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.checkBtnWithVaild {
  @include basicButton();
  color: #0091fa;
  background-color: #f6faff;
}

.checkBtnWithoutVaild {
  @include basicButton();
  color: #ababab;
  background-color: #fff;
  cursor: not-allowed;
}
