.s_highlight {
  color: #56ad79;
  font-weight: 700;
}

.s_mainTitle {
  font-size: 2.4rem;
}

.titleContainer {
  margin: {
    top: 7.2rem;
    bottom: 3rem;
    left: 1.8rem;
  }
}

.s_matchComponentContainer {
  margin-top: 4.2rem;
}
